$orange1:#FFC069;
$orange2:#FFD591;
$orange3:#e6a23c;
$orange4:#fed495;

$grey1:#333;
$grey2:#666;
$grey3:#888;
$grey4:#BDC2C8;
$grey5:#CCC;
$grey6:#DDD;
$grey7:#F1F1F1;
$grey8:#343B4A;

$blue1:#5C66EC;
$blue2:#409eff;

$red1:#FA2430;
$red2:#FB7872;
$red3:#FDA48F;

$cyan1:#3FC8AE;
$cyan2:#ACCED2;

:export {
  orange1: $orange1;
  orange2:$orange2;
  orange3:$orange3;
  orange4:$orange4;

  grey1:$grey1;
  grey2:$grey2;
  grey3:$grey3;
  grey4:$grey4;
  grey5:$grey5;
  grey6:$grey5;
  grey7:$grey7;
  grey8:$grey8;

  blue1:$blue1;
  blue2:$blue2;

  red1:$red1;
  red2:$red2;
  red3:$red3;

  cyan1:$cyan1;
  cyan2:$cyan2;
}

:root {
  --orange1: #FFC069;
  --orange2: #FFD591;
  --orange3: #e6a23c;
  --orange4:#fed495;

  --grey1:#333;
  --grey2:#666;
  --grey3:#888;
  --grey4:#BDC2C8;
  --grey5:#CCC;
  --grey6:#DDD;
  --grey7:#F1F1F1;
  --grey8:#343B4A;

  --blue1:#5C66EC;
  --blue2:#409eff;

  --red1:#FA2430;
  --red2:#FB7872;
  --red3:#FDA48F;

  --cyan1:#3FC8AE;
  --cyan2:#ACCED2;
}